$transparent: rgba(0, 0, 0, 0);
$white: #fff;
$black: #000;

// $font-family-sans-serif:     "Helvetica Neue", "Open Sans", Arial, sans-serif !default;
$secondary-color: #00bff3;
$pink-color: #ec008c;
$main-color: #003050;
$main-color-darkest: #001626;
$link-color: inherit;
$link-hover-color: inherit;

$navbar-height: 80px;

$border-width: 2px ;
$border-radius:          .0;
$border-radius-lg:       .0;
$border-radius-sm:       .0;
