@import "variable";
@import "utility/normalize";
@import "utility/grid";
@import "components/button";
@import "components/navbar";
@import "components/hero";
@import "components/post";

* {
  box-sizing: border-box;
}


body {
  font-family: $main-font;
}

h1 {
  font-size: 36px;
  font-weight: 300;
}
