$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    15px !default;
$padding-large-horizontal:  40px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-small, $line-height-large, $border-radius);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius);
}

.btn {
  font-weight: $font-weight-bold;
}

.btn-primary {
  @include button-variant($white, $main-color, $main-color);
}

.btn-primary-outline {
  @include button-variant($main-color, $transparent, $main-color);
}


@mixin button-variations($color, $background, $border) {
  @include button-variant($color, $background-color, $border);
}

// .btn-primary {
//   color: white !important;
//   background-color: $main-color;
//   border-color: $main-color;
// }
//
// .btn-primary-outline {
//   color: $main-color !important;
//   border-color: $main-color;
// }
