@mixin outline-button($background-color, $border-color, $border-width, $font-size, $font-color) {
  display: inline-block;
  background-color: $background-color;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  text-align: center;
  font-weight: 400;
  font-size: $font-size;
  padding: 10px 15px;
  color: $font-color;
}



.x2-outline-button {
  @include outline-button($white, $gray, 2px, 20px, $dark-gray);
}


.dropdown-button {
  background-color: $gray;
  display: inline-block;
  border: 1px solid $medium-gray;
  border-radius: $border-radius;

  .dropdown-text, .dropdown-arrow {
    float: left;
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
  }

  .dropdown-text {
    color: $dark-gray;
    font-weight: 600;
  }

  .dropdown-arrow {
    font-weight: 600;
    color: lighten($dark-gray, 20%);
    border-left: 1px solid $medium-gray;
  }
}
