.btn-primary {
  background-color: $secondary-color;
  border-color: $secondary-color;
  color: $white;

  &:hover {
    border-color: $secondary-color;
    background-color: $transparent;
    color: $secondary-color;
  }
}

.btn-primary-outline {
  border-color: $secondary-color;
  color: $secondary-color;

  &:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: $white;
  }
}

.btn-secondary {
  background-color: $white;
  border-color: $white;
  color: $main-color;

  &:hover {
    border-color: $white;
    background-color: $transparent;
    color: $white;
  }
}

.btn-secondary-outline {
  border-color: $white;
  color: $white;

  &:hover {
    background-color: $white;
    border-color: $white;
    color: $main-color;
  }
}

.btn-warning {
  background-color: $white;
  border-color: $white;
  color: $main-color;

  &:hover {
    border-color: $white;
    background-color: $transparent;
    color: $white;
  }
}

.btn-warning-outline {
  border-color: $white;
  color: $white;

  &:hover {
    background-color: $white;
    border-color: $white;
    color: $main-color;
  }
}
