.card {
  overflow: hidden;
  &-transparent {
    background-color: $transparent;
    border: $transparent;
  }

  img {
    text-align: center;
  }

  &-img-left {
    img {
      float: left;
      width: 75px;
    }

    .card-block {
      float: left;
      width: calc(100% - 75px);
      padding-top: 0px;
    }
  }
}
