.footer {
  .title {
    color: #727578;
    font-size: $font-size-sm;
    font-weight:  bold;
    border-bottom: 1px solid #727578;
    padding-bottom: .5rem;
    text-transform: uppercase;
  }
}

.copyright {
  font-size: $font-size-sm;
}
