.form-error {
  color: $pink-color;
  margin-top: -.75rem;
  font-size: $font-size-sm;
}

.hide {
  display: none;
}

form {
  .form-group {

    input {
      @extend .m-b-2;
      border-radius: 0px;
      border-left: 0px;
      border-top: 0px;
      border-right: 0px;
      background-color: $transparent;
      padding-left: 0px;
    }

    &-white {
      input {
          color: $white;
          border-bottom: 1px solid $white;
      }

      input::-webkit-input-placeholder {
         color: $white;
      }

      input:-moz-placeholder { /* Firefox 18- */
         color: $white;
      }

      input::-moz-placeholder {  /* Firefox 19+ */
         color: $white;
      }

      input:-ms-input-placeholder {
         color: $white;
      }
    }

    &-light {
      input[type="text"], input[type="password"] {
          color: $secondary-color;
          border-bottom: 1px solid $secondary-color;

          &::-webkit-input-placeholder {
             color: $secondary-color;
          }

          &:-moz-placeholder { /* Firefox 18- */
             color: $secondary-color;
          }

          &::-moz-placeholder {  /* Firefox 19+ */
             color: $secondary-color;
          }

          &:-ms-input-placeholder {
             color: $secondary-color;
          }
      }
    }

    &-dark {
      input{
          color: $main-color;
          border-bottom: 1px solid $main-color;

          &::-webkit-input-placeholder {
             color: $main-color;
          }

          &:-moz-placeholder { /* Firefox 18- */
             color: $main-color;
          }

          &::-moz-placeholder {  /* Firefox 19+ */
             color: $main-color;
          }

          &:-ms-input-placeholder {
             color: $main-color;
          }
      }
    }

  }
}
