.hero-image {
  height: $hero-height;
  padding: $hero-outter-padding calc(#{$hero-outter-padding} * 2);
  width: 100%;
  background-position: center;
  background-size: cover;

  &.welder {
    background-image: url('../img/welder.png');
  }

  .hero-text {
    color: $white;
    font-weight: $hero-text-weight;
    margin-top: $navbar-hero-title-gap;
    width: 100%;

    .hero-title, .hero-subtitle{
      text-align: center;
    }

    .hero-title {
      font-size: $hero-title-size;
      margin-bottom: calc(#{$navbar-hero-title-gap} / 4);
    }

    .hero-subtitle {
      font-size: $navbar-subtitle-size;
      margin-bottom: calc(#{$navbar-hero-title-gap} / 1);
    }

    .hero-button {
       text-align: center;
    }
  }
}
