$navbar-height: 80px;

@mixin navbar-variation($background-color, $font-color, $hover-color) {
  background-color: $background-color;
  color      : $font-color;

  a {
    color: $font-color;

    &:hover {
      color: $hover-color;
    }
  }
}

.navbar-wrapper {
  @extend .navbar;
  margin-bottom : - $navbar-height;
  padding-top   : 0;
  padding-bottom: 0;

  &.navbar-transparent {
    @include navbar-variation($transparent, $white, $white);
  }

  &.navbar-white {
    @include navbar-variation($white,  $font-color, $secondary-color);
  }

  &.navbar-light {
    @include navbar-variation($secondary-color, $white, $main-color);
  }

  &.navbar-dark {
    @include navbar-variation($main-color, $white, $secondary-color-light);
  }

  ul {
    @extend .navbar-nav, .nav;
    height : $navbar-height;
    display: block;

    li {
      @extend .nav-item;

      + li {
        margin-left: 2em;
      }

      a {
        @extend .nav-link;
        padding-top   : 0;
        padding-bottom: 0;
        height        : $navbar-height;
        line-height   : $navbar-height !important;
        font-size: $font-size-sm;

        &.navbar-logo {
          @extend .font-weight-boldest;
          font-size: $font-size-xl;
        }

        &.navbar-toggler {
          font-size: $font-size-xl;
        }
      }
    }
  }
}
