.wrapper {
  @extend .jumbotron, .jumbotron-fluid;
  margin-bottom: 0px;

  &:nth-child(2) {
    padding-top: calc(80px + 64px);
  }

  &.wrapper-image {
    color: $white;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.wrapper-white {
    background-color: $white;
  }

  &.wrapper-light {
    background-color: $secondary-color;
    color: $white;
  }

  &.wrapper-dark {
    background-color: $main-color-darkest;
    color: $white;
  }

  &.wrapper-black {
    background-color: $black;
    color: $white;
  }

  &.wrapper-sm {
    @extend .p-t-3, .p-b-3;
    overflow: hidden;
  }

  &.wrapper-md {
    @extend .p-t-4, .p-b-4;
  }
}
