//////////////////////////////////////////////////////////////////
// GENERAL
.vert-middle {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
//////////////////////////////////////////////////////////////////
/// GENERAL SIZE
.m-l-2 {
  padding-left: $spcr-2;
}

.m-l-4 {
  padding-left: $spcr-root;
}

.m-b-8 {
  padding-bottom: $spcr-8;
}

.m-b-10 {
  padding-bottom: $spcr-10;
}

.bold {
  font-weight: 300;
}

.hide {
  display: none;
}

//////////////////////////////////////////////////////////////////
/// GENERAL TAG
a,
img {
  display: block;
}

button {
  &:hover {
    cursor: pointer;
  }
}

a {
  color : inherit;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {
  display: block;
  height: 100%;

  &.img-ht {
    height: 100%;
  }

  &.img-width {
    width: 100%;
  }
}


//////////////////////////////////////////////////////////////////
/// GENERAL ICON

.material-icons {
  display       : inline-flex;
  vertical-align: middle;
}




//////////////////////////////////////////////////////////////////
/// GENERAL TRANSITION
.navbar,
.navbar-mobile {
  transition: all 0.3s;
}

//////////////////////////////////////////////////////////////////
/// GENERAL TYPE
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

//////////////////////////////////////////////////////////////////
/// GENERAL DIVIDER
