

// #register-thank-you, #contact-thank-you {
//   display: none;
//
//   &.show {
//       display: block;
//   }
// }

.container {
  @extend .container;

  &-xs {
    max-width: map-get($grid-breakpoints, xs);
  }

  &-sm {
    max-width: map-get($grid-breakpoints, sm);
  }

  &-md {
    max-width: map-get($grid-breakpoints, md);
  }

  &-lg {
    max-width: map-get($grid-breakpoints, lg);
  }

  &-xl {
    max-width: map-get($grid-breakpoints, xl);
  }

  .inline-link {
    display: inline-block;
    color: inherit;
  }
}

.logo-img {
  margin-top: 32.5px;
  height: 15px;
  max-width: 180px;
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .font-size-sm {
    font-size: .85rem;
  }
}


.inner-header-offset {
  margin-top: -3rem;
}

.inner-page-offset {
  margin-top: -9rem;
}

.font-weight-bolder {
  font-weight: 800;
}

.main-color {
  color: $main-color;
}


.bg-color-white {
  background-color: $white;
}

.line-height-lg {
  line-height: 1.2;
}

.img-sm {
  width: 75px;
  height: 75px;
  margin: 0 auto;
}

.font-weight-bold {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 300;
}

a {
  font-weight: 400;
}
